LOL no CSS yet
<!--  -->

<html>
<head>
	<title>SCU Alumni Busniess Directory</title>
</head>
<body>
	<div id = "container"> <!-- this is a CSS thing for defining page width -->
	<div id = "header">
	 <img src = "https://upload.wikimedia.org/wikipedia/en/thumb/a/ad/Santa_Clara_U_Seal.svg/1200px-Santa_Clara_U_Seal.svg.png" alt id = "SCU logo" height = 100 width = 100>
	 <h1>SCU Alumni Busniess Directory</h1>
	<div id = "navigation">
	 <a href="./submit/" target="_blank" rel="nofollow">Post Business</a>
	 <a href="./office/login/" target="_blank" rel="nofollow">Login</a>
	 <a href="./search/" target="_blank" rel="nofollow">Search Businesses</a>
	<div id = "body">
</body>
</html>