{% load static %}
<html>
    <head>
        <title>Alumni Directory Submission Form</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <h1>Alumni Directory Submission Form</h1>
        <br>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                                <form method="post" class="post-form">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    {{ form2.as_p }}
                                    <button type="submit" class="save btn btn-default">Submit</button>
                                </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>